.listagem-container {
    padding: var(--container-size);
    margin: 3rem 0;
    text-align: center;

    header {
        display: flex;
        justify-content: flex-end;

        h1 {
            margin-left: auto;
        }
        
        .add {
            display: flex;
            margin-left: auto;
            align-items: center;
            justify-content: center;
            background: var(--green-1);
            color: var(--grey-3);
            width: 48px;
            height: 32px;
            padding: 2px;
            border-radius: 4px;
            transition: filter 200ms ease;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.75);

            svg {
                width: 24px;
                height: 24px;
            }

            &:hover {
                box-shadow: none;
                filter: brightness(1.2);
            }
        }
    }
}
